---
layout: false
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
/* TEAM */
Adam DJ Brett: Site design and development
Website: https://adamdjbrett.com/

Gary Bedford: Author and project lead
Website: https://www.garybedford.com/

/* SITE */
Project: The Wild Globalization Project
Organization: The Whitestone Foundation
Generator: {{ generator.name }} {{ generator.version }}
Last built: {{ buildDate | isoDate }}
